.topnav a,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

.topnav a,
h1 {
  font-family: NR;
  color: #6d6875
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

@font-face {
  font-family: RM;
  src: url(./fonts/RubikMaze-Regular.ttf)
}

@font-face {
  font-family: AFF;
  src: url(./fonts/AbrilFatface-Regular.ttf)
}

@font-face {
  font-family: TR;
  src: url(./fonts/TurretRoad-Regular.ttf)
}

@font-face {
  font-family: Gruppo;
  src: url(./fonts/Gruppo-Regular.ttf)
}

@font-face {
  font-family: NR;
  src: url(./fonts/Noah-Regular.woff)
}

@font-face {
  font-family: NSL;
  src: url(./fonts/NotoSans-Light.ttf)
}

@font-face {
  font-family: NSEL;
  src: url(./fonts/NotoSans-ExtraLight.ttf)
}

@font-face {
  font-family: NST;
  src: url(./fonts/NotoSans-Thin.ttf)
}

body,
html {
  background-color: #e6e6fa
}

#bloc_page {
  width: 100%;
  margin: 0
}

.topnav {
  display: flex;
  justify-content: center;
  overflow: hidden
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

.topnav a:hover {
  background-color: #b0b0bf;
  color: #000
}

.topnav a.active {
  background-color: #6bab90;
  color: #fff
}

.topnav .icon {
  display: none
}

#conteneur {
  margin-left: 5%;
  margin-top: 30%;
  width: 35%
}

#conteneur_logos {
  margin-top: .5rem;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-around
}

h1 {
  font-size: 60px;
  letter-spacing: .5rem
}

hr {
  margin-left: 0;
  border: 0;
  border-top: 3px solid #000;
  width: 33%
}

p {
  font-family: NST;
  color: #6d6875;
  line-height: normal
}

a
{
  all: unset;
}

@media screen and (max-width:480px) {
  .topnav {
    background-color: #6bab90;
    justify-content: space-between;
    display: block
  }

  .topnav a:not(:first-child) {
    display: none
  }

  .topnav a.icon {
    float: right;
    display: block;
    background-color: #b0b0bf
  }

  .topnav.responsive {
    position: relative
  }

  .topnav.responsive a.icon {
    color: #6d6875;
    position: absolute;
    right: 0;
    top: 0
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: #e6e6fa
  }

  #conteneur {
    width: 100%;
    margin-left: 0;
    overflow: hidden
  }

  h1 {
    font-size: 250%;
    text-align: center
  }

  hr {
    margin-left: auto;
    margin-right: auto
  }

  p {
    margin: 0 5%;
    font-size: 18px;
    text-align: justify;
    line-height: 20px;
    font-family: NSL
  }

  #conteneur_logos {
    margin: 10px 20%;
    justify-content: space-between
  }

  .topnav.responsive a.active {
    background-color: #b0b0bf;
    color: #6d6875
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  font-family: NR;
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}